@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"]:after {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
  background-color: #364F6B;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #F5F5F5;
}

input[type="radio"]:checked:after {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
  position: relative;
  background-color: #3B82F6;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #F5F5F5;
}



